{% extends 'base.html' %}

{% block content %}
<div class="main-container">
    <div class="ad-detail">
        <h1>{{ ad.title }}</h1>
        <p class="ad-meta">
            Опубликовано: {{ ad.created_at|date:"d M Y" }} | Автор: {{ ad.author.username }} </br>
            <strong>Категория:</strong> {{ ad.category }}
        </p>

        <div class="ad-content">
            {{ ad.description|safe }}  <!-- Выводим полное описание с поддержкой HTML -->
        </div>

        <div class="ad-category">
            
        </div>
    </div>
</div>
{% endblock %}
