{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-container">
    <h1>Управление объявлениями</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
            {% if ad_to_edit %} Сохранить изменения {% else %} Создать объявление {% endif %}
        </button>
    </form>
    
    <hr>
    
    <h2>Мои объявления</h2>
    <div class="user-ads-list">
        {% for ad in ads %}
            <div class="user-ad-card">
                <h3>{{ ad.title|truncatechars:20 }}</h3>
                <p>{{ ad.description|truncatewords:10|striptags }}</p>
                <span class="category">{{ ad.category }}</span>
                <span class="status">{{ ad.get_status_display }}</span>
                <a href="?edit={{ ad.id }}" class="btn btn-secondary small-btn">Редактировать</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
